// rebuilding fullsize layout, since the HTML structure changed
@media (min-width: 1040px) {
  #page #section-content #zone-content-wrapper-front {
    #zone-content .region-inner .grid-4 {
      position: relative;
      width: 100% !important;

      .front-menu {
        // clear: both;
        display: inline-block;
        height: auto !important;
        position: relative;
        width: auto !important;
      }
      .front-menu-right {
        float: right;
      }
      .front-menu-the-maya {
        float: left;
      }
      .front-menu-maya-sun {
        top: 100px;
        // border: 2px solid green;
      }
      .front-menu-calendar {
        clear: both;
        float: left;
        top: 150px;
      }
      .front-menu-corn-and-maya-time {
        top: 250px;
      }
      .front-menu-2012-resetting  {
        float: right;
        clear: both;
      }
      #front-menu-main-bottom {
        clear: both;
        float: left;
        top: -50px;
      }
    }
  }
}

@media (max-width: 1040px) {
  body.html {
    max-width: 100%;
    min-width: 0;
    overflow-x: hidden;
  }
  #page {
    header#section-header {
      #zone-user-wrapper, #zone-user, .grid-12, .region-inner, .block, .block-inner, .content.clearfix {
        max-width: 100%;
      }
      #zone-branding {
        max-width: 100%;
        .grid-1 {
          display: none;
        }
        .grid-8 {
          float: none;
          width: auto !important;

          .branding-data {
            text-align: center;

            .logo-img {
              float: none;
              margin-top: 20px;
              width: 100%;

              @media (max-width: 750px) {
                margin-top: 35px;
              }

              img {
                max-width: 100%;
              }
            }
          }
        }
        .grid-2 {
          padding: 0;
          box-sizing: border-box;

          &#region-secondary-menu {
            clear: both;
            float: left;
            left: 50px;
            margin: -30px 0 0 0;
            width: auto !important;
            // width: 175px !important;
            font-size: 90%;

            @media (max-width: 850px) {
              font-size: 80%;
              left: 40px;
            }
            @media (max-width: 750px) {
              display: none;
              // margin: 0;
              // left: 30px;
              //
              // ul li.leaf {
              //   display: inline !Important;
              // }
            }
          }
          #block-locale-language ul.language-switcher-locale-url {
            margin-right: 20px;
          }

        }
      }
      #zone-user {
        .content h4 {
          @media (max-width: 600px) {
            font-size: 1.5em;
          }
          @media (max-width: 500px) {
            font-size: 1.25em;
            padding-top: 2px;
          }
        }
      }
        // @media (Max-width: )
      // }
    }
    #section-content {
      // front page styles
      #zone-content-wrapper-front {
        background: url('/sites/all/themes/mayatime/img/zone-content-wrapper.jpg') top center transparent repeat-y;
        min-height: 0 !important;
        height: auto;

        #zone-content .region-inner {
          .grid-4 {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100% !important;

            #front-menu-main {
              width: 100%;
            }

            .front-menu {
              height: auto;
              left: 0;
              margin: 0;
              padding: 0 15px;
              top: 0;
              width: auto;
            }
            #front-menu-main-bottom {
              display: none;
            }
          }
        }
      }
      #zone-content {
        box-sizing: border-box;
        padding: 0 40px;
        width: 100%;

        .grid-12#region-content {
          max-width: 100%;
        }

        .region-inner {
          .front-menu-aside {
            padding-left: 0;
          }
        }
      }
    }
    footer#section-footer {
      min-height: 0;

      #zone-footer-wrapper {
        background-size: cover;
        min-height: 0;

        #zone-footer.container-12 {
          box-sizing: border-box;
          max-width: 100%;
          padding: 90px 30px 60px;

          @media (max-width: 700px) {
            padding-top: 130px;
          }
          @media (max-width: 500px) {
            padding-top: 80px;
          }

          .grid-12 {
            width: 100% !important;

            .region-footer-second-inner {
              display: flex;
              justify-content: space-between;
              margin-top: 1.5em;

              @media (max-width: 710px) {
                flex-wrap: wrap;

                .grid-6 {
                  margin: 0 auto;

                  &#block-menu-menu-tertiary-menu {
                    padding: 30px 0;
                  }
                }
              }

              .grid-6 {
                width: auto;

                img {
                  max-width: 100%;
                }
              }
            }

            ul.menu {
              text-align: center;
            }

            .block-menu-footer-main-menu ul.menu {
              @media (max-width: 500px) {
                li {
                  display: block;
                  text-align: center;

                  a:after {
                    display: none;
                  }
                }
              }
            }
            #block-menu-menu-menu-footer-secondary-menu {
              margin-top: 1em;
              width: 100%;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 1040px) {
  body.page-node-5,
  body.page-node-7,
  body.page-node-9,
  body.page-node-11,
  body.page-node-13 {
    #zone-content {
      .region-content {
        width: 100% !important;
        h1.title {
          margin-top: .75em;
        }
      }
      aside.region-sidebar-second {
        width: 100% !important;

        .region-inner {
          max-width: 650px;
          margin: 0 auto;

          .block-menu-block {
            padding: 30px 0;
          }
        }
        ul.menu {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          li {
            margin: 0 5px 15px !important;
          }
        }
      }
    }
  }
  body.page-node-11, body.page-node-13 {
    #zone-content aside.region-sidebar-second ul.menu {
      padding-bottom: 90px;
    }
  }
}
