// rebuilding fullsize layout, since the HTML structure changed

@main-breakpoint: 1040px;

// all-width changes
body.html {
  // font-size: 100%;
  font-size: initial;

  header#section-header, footer#section-footer {
    font-size: 75%;
  }
  #zone-content #messages {
    max-width: 100%;
  }
}

// homepage styles
@media (min-width: @main-breakpoint) {
  #page #section-content #zone-content-wrapper-front {
    #zone-content .region-inner .grid-4 {
      position: relative;
      width: 100% !important;

      .front-menu {
        // clear: both;
        display: inline-block;
        height: auto !important;
        position: relative;
        width: auto !important;
      }
      .front-menu-right {
        float: right;
      }
      .front-menu-the-maya {
        float: left;
      }
      .front-menu-maya-sun {
        top: 100px;
      }
      .front-menu-calendar {
        clear: both;
        float: left;
        top: 150px;
      }
      .front-menu-corn-and-maya-time {
        top: 250px;
      }
      .front-menu-2012-resetting  {
        float: right;
        clear: both;
      }
      #front-menu-main-bottom {
        clear: both;
        float: left;
        top: -50px;
      }
    }
  }
}

// general
@media (max-width: @main-breakpoint) {
  body.html {
    max-width: 100%;
    min-width: 0;
    overflow-x: hidden;

    section#section-content {
      font-size: 100%;
    }
    // TEMPORARY
    #zone-menu {
      display: none;
    }
  }
  #page {
    header#section-header {
      #zone-user-wrapper, #zone-user, .grid-12, .region-inner, .block, .block-inner, .content.clearfix {
        max-width: 100%;
      }
      #zone-branding {
        max-width: 100%;
        .grid-1 {
          display: none;
        }
        .grid-8 {
          float: none;
          width: auto !important;

          .branding-data {
            text-align: center;

            .logo-img {
              float: none;
              margin-top: 20px;
              width: 100%;

              @media (max-width: 750px) {
                margin-top: 35px;
              }

              img {
                max-width: 100%;
              }
            }
          }
        }
        .grid-2 {
          padding: 0;
          box-sizing: border-box;

          &#region-secondary-menu {
            clear: both;
            float: left;
            left: 50px;
            margin: -30px 0 0 0;
            width: auto !important;
            // width: 175px !important;
            font-size: 90%;

            @media (max-width: 850px) {
              font-size: 80%;
              left: 40px;
            }
            @media (max-width: 750px) {
              display: none;
              // margin: 0;
              // left: 30px;
              //
              // ul li.leaf {
              //   display: inline !Important;
              // }
            }
          }
          #block-locale-language ul.language-switcher-locale-url {
            margin-right: 20px;
          }

        }
      }
      #zone-user {
        .content h4 {
          @media (max-width: 600px) {
            font-size: 1.5em;
          }
          @media (max-width: 500px) {
            font-size: 1.25em;
            padding-top: 2px;
          }
        }
      }
        // @media (Max-width: )
      // }
    }
    #section-content {
      // front page styles
      #zone-content-wrapper-front {
        background: url('/sites/all/themes/mayatime/img/zone-content-wrapper.jpg') top center transparent repeat-y;
        min-height: 0 !important;
        height: auto;

        #zone-content .region-inner {
          .grid-4 {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100% !important;

            #front-menu-main {
              width: 100%;
            }

            .front-menu {
              height: auto;
              left: 0;
              margin: 0;
              padding: 0 15px;
              top: 0;
              width: auto;
            }
            #front-menu-main-bottom {
              display: none;
            }
          }
        }
      }
      #zone-content {
        box-sizing: border-box;
        padding: 0 40px;
        width: 100%;

        .grid-12#region-content {
          max-width: 100%;
        }

        .region-inner {
          .front-menu-aside {
            padding-left: 0;
          }
        }
      }
    }
    footer#section-footer {
      min-height: 0;

      #zone-footer-wrapper {
        background-size: cover;
        min-height: 0;

        #zone-footer.container-12 {
          box-sizing: border-box;
          max-width: 100%;
          padding: 90px 30px 60px;

          @media (max-width: 700px) {
            padding-top: 130px;
          }
          @media (max-width: 500px) {
            padding-top: 80px;
          }

          .grid-12 {
            width: 100% !important;

            .region-footer-second-inner {
              display: flex;
              justify-content: space-between;
              margin-top: 1.5em;

              @media (max-width: 710px) {
                flex-wrap: wrap;

                .grid-6 {
                  margin: 0 auto;

                  &#block-menu-menu-tertiary-menu {
                    padding: 30px 0;
                  }
                }
              }

              .grid-6 {
                width: auto;

                img {
                  max-width: 100%;
                }
              }
            }

            ul.menu {
              text-align: center;
            }

            .block-menu-footer-main-menu ul.menu {
              @media (max-width: 500px) {
                li {
                  display: block;
                  text-align: center;

                  a:after {
                    display: none;
                  }
                }
              }
            }
            #block-menu-menu-menu-footer-secondary-menu {
              margin-top: 1em;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

// landing pages for toplevel sections
@media (max-width: @main-breakpoint) {
  body.page-node-5, .page-node-6,
  body.page-node-7, .page-node-8,
  body.page-node-9, .page-node-10,
  body.page-node-11, .page-node-12,
  body.page-node-13, .page-node-14 {
    #zone-content {
      .region-content {
        width: 100% !important;
        h1.title {
          margin-top: .75em;
        }
      }
      aside.region-sidebar-second {
        width: 100% !important;

        .region-inner {
          max-width: 650px;
          margin: 0 auto;

          .block-menu-block {
            padding: 30px 0;
          }
        }
        ul.menu {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          li {
            margin: 0 5px 15px !important;
          }
        }
      }
    }
    #region-menu {
      max-width: 100% !important;
    }
    nav.navigation {
      margin: 0;

      ul#main-menu {
        display: flex;
        flex-wrap: wrap;
        width: ~"calc(100% - 80px)" !important;
      }
    }
  }
  body.page-node-11, body.page-node-12,
  body.page-node-13, body.page-node-14 {
    #zone-content aside.region-sidebar-second ul.menu {
      padding-bottom: 90px;
    }
  }
}

// calendar activity page
.page-node-39, .page-node-40 {
  .calendar-quote-mobile, .aside-mobile {
    display: none;
  }
  .unit-conversions {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;

    div {
      width: 50%;
    }
  }

  @media (max-width: @main-breakpoint) {
    #calendar-wrapper {
      #calendar-converter-intro {
        width: 100%;
        float: none;

        #calendar-converter-intro-top {
          float: none;
          margin-bottom: 30px;
          width: 100%;

          #calendar-quote.calendar-quote-mobile {
            display: block;
            font-size: .9em;
            position: absolute;
            right: 20px;
            top: 20px;
            width: ~"calc(100% - 360px)";
          }
        }
        .intro-paragraph p {
          width: 100%;
        }
      }
      #calendar-converter-main {
        width: 100%;

        #calendar-quote {
          display: none;
        }
        #converter-wrap {
          align-items: center;
          display: flex;
          justify-content: space-around;
          margin-top: 20px;
          #conveter-main, #converter-aside {
            display: inline-block;
            float: none;
            margin: 0;
          }
          #converter-aside {
            max-width: ~"calc(100% - 375px)";
            width: auto;
            margin-left: 20px;
          }
        }
      }
    }
    #block-system-main  {
      width: 100%;

      article {
        font-size: 18px !important;
        display: block;
        float: none;
        position: static;
        width: 100%;

      }
      aside {
        display: none;
      }
      .aside-mobile {
        display: block;
        float: left;
        margin: 0 30px 10px 0;
      }
    }
    #calendar-abstract2
    #calendar-abstract3 div {
      margin: 0 !important;
      width: ~"calc(100% - 271px)";
    }
  }
  @media (max-width: 900px) {
    .unit-conversions {
      display: block;

      div {
        width: 100%;
      }
    }
  }
  @media (max-width: 850px) {
    #calendar-wrapper #calendar-converter-intro #calendar-converter-intro-top {
      #calendar-converter-header {
        height: 96px;
        width: auto;

        h1 {
          margin-left: 15px;
          position: relative;
          top: 50%;
          transform: translateY(-50%);

          br {
            display: none;
          }
        }
      }
      .break {
        display: none;
      }
      #calendar-quote.calendar-quote-mobile {
        margin-left: auto;
        margin-right: auto;
        position: static;
        width: 85%;
      }
    }
  }
  @media (max-width: 750px) {
    #calendar-wrapper #calendar-converter-main #converter-wrap {
      flex-wrap: wrap;
      justify-content: center;

      #conveter-main, #converter-aside {
        max-width: 100%;
        width: 100%;
      }
      #conveter-main #monument {
        margin: 0 auto;
      }
      #converter-aside {
        text-align: center;

        #select-date {
          display: inline-block;
          margin: 30px 0;
          max-width: 315px;
        }
      }
    }
  }
  @media (max-width: 680px) {
    #block-system-main {
      .aside-mobile {
        float: none;
        text-align: center;
      }
      #calendar-abstract3 div {
        width: 100%;
      }
    }
  }
}

// Maya World interactive map
.page-node-25, .page-node-26 {

  @media (max-width: @main-breakpoint) {
    .maya-world-interactive-map img {
      width: 50%;
    }
  }
}

// math game: common styles
.page-node-33, .page-node-34 {
  // changes that apply on every page
  @media (max-width: @main-breakpoint) {
    #zone-content, #region-content, #block-block-8, #block-block-9 {
      max-width: 100% !important;
    }
  }
  .maya-math-game-wrapper {
    background-size: cover;

    .symbols {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .symbol {
        margin-top: 10px;
        text-align: center;
        width: 32%;

        span {
          display: block;
          position: relative;
          margin-top: 5px;
        }
        &:last-of-type span {
          margin-top: 0;
        }
      }
    }
    hr {
      max-width: 100%;
    }
    #practice-content #answer-pane {
      .total {
        width: 100%;
      }
      #numberSlot .ui-droppable {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
    }

    @media (max-width: @main-breakpoint) {
      .math-game-landing-copy {
        display: block;
        float: none;
        margin: 0 25px;
        width: auto;
      }
    }
    &.landing {
      // this changes at every size
      .math-game-landing-symbol-bar {
        padding: 15px;

        .three-symbols-intro {
          font-size: 1.2em;
        }
        // .symbols {
        //   display: flex;
        //   flex-wrap: wrap;
        //   justify-content: space-around;
        //
        //   .symbol {
        //     margin-top: 10px;
        //     text-align: center;
        //     width: 30%;
        //
        //     span {
        //       position: relative;
        //       display: block;
        //     }
        //   }
        // }
      }
      @media (max-width: @main-breakpoint) {
        .math-math-god {
          display: inline-block;
          margin-right: 0;
        }
        .are-you-ready {
          margin: 0 25px;
        }
        .math-game-landing-game-buttons {
          box-sizing: border-box;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          margin: 0;
          max-width: 100%;
          padding: 15px 10px;

          .math-game-button {
            margin: 10px auto 0;
          }
        }
      }
      @media (max-width: 725px) {
        .math-math-god {
          display: block;
          float: none;
          margin: 0 auto;
          max-width: 100%;
        }
      }
      @media (max-width: 700px) {
        .math-game-landing-symbol-bar .symbols .symbol {
          width: 50%;
        }
      }
    }
    &.practice {
      .round-instructions {
        margin: 15px 0;
      }
      .math-game-landing-copy p {
        margin-bottom: 15px;
      }
      #navigation-help {
        margin: 10px 10px 20px;
        width: 100%;
        text-align: center;
      }
      #practice-content {
        #answer-pane {
          display: flex;
          flex-wrap: wrap;
        }
        #successMessage, #tryAgain, #endofgame {
          box-shadow: none;
          max-width: ~"calc(100% - 50px)";
          position: fixed;
          transform: translate(-50%, -50%);
          top: auto;
          top: 50%;
        }
        display: flex;
        padding: 0 25px;

        .symbols-container {
          max-width: 350px;

          #symbolsPile {
            display: flex;
            flex-wrap: wrap;
          }
        }
        .base-container {
          display: flex;
          justify-content: flex-end;
          width: ~"calc(100% - 350px)" !important;

          .pyramid {
            margin-right: 15%;

            h4 {
              text-align: center;
            }

            @media (max-width: @main-breakpoint) {
              margin-right: 5%;
            }
          }

          #middle-symbols {
            margin: 0 auto;
            width: 230px;
          }
        }
      }
      @media (max-width: @main-breakpoint) {
        .practice-menu ul {
          display: flex;
          flex-wrap: wrap;

          li, li.last {
            width: ~"calc(100% / 3 - 1px)";
            border-top: 1px solid #552911;
          }
        }
        #practice-content {
          display: flex;
          justify-content: space-between;
          padding: 0 15px;


        }
      }
      @media (max-width: 900px) {
        #practice-content {
          flex-wrap: wrap;
          padding: 0 15px;

          .symbols-container, .base-container {
            max-width: 100%;
            width: 100% !important;
          }
          .base-container {
            justify-content: space-around;
            margin-top: 30px;
          }
        }
      }
      @media (max-width: 500px) {
        .practice-menu ul li, .practice-menu ul li.last {
          width: ~"calc(50% - 1px)";
        }
        #practice-content {
          .base-container {
            flex-wrap: wrap;
            margin-top: 0;

            .pyramid {
              height: 225px;
              position: relative;
              top: -75px;

              h4 {
                position: relative;
                top: 100px;
              }
              table {
                display: inline-block;
                transform: rotate(-90deg);

                td {
                  .cloned-symbol {
                    transform: rotate(90deg);
                  }
                  &.label {
                    padding-top: 15px;
                    text-align: left;
                    transform: rotate(90deg);
                  }
                }
                tr:hover {
                  background: #FFFEEE;

                  td {
                    background: transparent !important;
                  }
                }
              }
            }
          }
        }
      }
      &.practice-1 {
        @media (max-width: @main-breakpoint) {
          #practice-content {
            #symbols-left, #answer-pane, #directions {
              float: none;
              margin: 0;
            }
            #symbols-left, #symbolBox {
              width: 100px;
            }
          }
        }
        @media (max-width: 800px) {
          #practice-content {
            flex-wrap: wrap;
            justify-content: space-around;

            #symbols-left, #answer-pane, #directions {
              margin: 0;
            }
            #symbols-left {
              order: 2;
            }
            #answer-pane {
              order: 3;
            }
            #directions {
              margin-bottom: 20px;
              order: 1;
              width: 100%;
            }
          }
        }
        @media (max-width: 750px)  {
          .math-game-landing-copy .symbols .symbol {
            width: 100%;
          }
        }
      }
      &.practice-2 {
        #practice-content {
          // display: flex;
          // padding: 0 25px;
          //
          // #symbols-10, .symbols-container {
          //   max-width: 350px;
          //
          //   #symbolsPile {
          //     display: flex;
          //     flex-wrap: wrap;
          //   }
          // }
          // #base-10, .base-container {
          //   display: flex;
          //   justify-content: flex-end;
          //   width: ~"calc(100% - 350px)" !important;
          //
          //   #base-10-pyramid, .pyramid {
          //     margin-right: 15%;
          //
          //     h4 {
          //       text-align: center;
          //     }
          //
          //     @media (max-width: @main-breakpoint) {
          //       margin-right: 5%;
          //     }
          //   }
          //
          //   #middle-symbols {
          //     width: 230px;
          //   }
          // }
          // @media (max-width: 900px) {
          //   flex-wrap: wrap;
          //   padding: 0 15px;
          //
          //   #symbols-10, #base-10, .symbols-container, .base-container {
          //     max-width: 100%;
          //     width: 100% !important;
          //   }
          //   #base-10, .base-container {
          //     justify-content: space-around;
          //     margin-top: 30px;
          //   }
          // }
          // @media (max-width: 500px) {
          //   #base-10, .base-container {
          //     flex-wrap: wrap;
          //
          //     #base-10-pyramid, .pyramid {
          //       height: 225px;
          //       position: relative;
          //       top: -75px;
          //
          //       h4 {
          //         position: relative;
          //         top: 60px;
          //       }
          //       table {
          //         transform: rotate(-90deg);
          //
          //         td {
          //           .cloned-symbol {
          //             transform: rotate(90deg);
          //           }
          //           &.label {
          //             padding-top: 15px;
          //             text-align: left;
          //             transform: rotate(90deg);
          //           }
          //         }
          //         tr:hover {
          //           background: #FFFEEE;
          //
          //           td {
          //             background: transparent !important;
          //           }
          //         }
          //       }
          //     }
          //   }
          // }
        }
      }
    }
    &.game {

    }
    &.reveal {
    }
  }
}


// menu tests
@media (max-width: @main-breakpoint) {
  .page-node-31, .page-node-32 {
    header #region-menu {
      // left: ~"calc(100% - 300px)";
      position: relative;
      width: 600px;

      ul.menu, ul#main-menu {
        // width: 300px;
        margin: 0;
      }
      nav.navigation {
        display: none;

        ul#main-menu {
        // margin: 0;
          width: 300px;

          li {
            display: block;

            a:after {
              display: none;
            }

            a:hover, a.active-trail {
              background: none;
            }
          }
        }
      }
      #block-menu-block-1 {
        width: auto;
        display: inline-block;
        margin: 0 auto;
      }
    }
  }
}


@media (max-width: 600px) {
  #page #section-content #zone-content {
    padding: 0 20px;
  }
}
// mobile
// @media (max-width: 500px) {
//   body { font-size: 20px; }
//   p {
//     font-size: 1em !important;
//   }
// }
