// rebuilding fullsize layout, since the HTML structure changed
@primary-breakpoint: 1040px; // all-width changes
@secondary-breakpoint: 500px;

body.html {
  // font-size: 100%;
  font-size: initial;

  footer#section-footer,
  header#section-header {
    font-size: 75%;
  }

  #zone-content #messages {
    max-width: 100%;
  }
}
// homepage styles
@media (min-width: @primary-breakpoint) {
  #page #section-content #zone-content-wrapper-front {
    #zone-content .region-inner .grid-4 {
      position: relative;
      width: 100% !important;

      .front-menu {
        // clear: both;
        display: inline-block;
        height: auto !important;
        position: relative;
        width: auto !important;
      }

      .front-menu-right {
        float: right;
      }

      .front-menu-the-maya {
        float: left;
      }

      .front-menu-maya-sun {
        top: 100px;
      }

      .front-menu-calendar {
        clear: both;
        float: left;
        top: 150px;
      }

      .front-menu-corn-and-maya-time {
        top: 250px;
      }

      .front-menu-2012-resetting {
        float: right;
        clear: both;
      }

      #front-menu-main-bottom {
        clear: both;
        float: left;
        top: -50px;
      }
    }
  }
}
// general
@media (max-width: @primary-breakpoint) {
  body.html {
    max-width: 100%;
    min-width: 0;
    overflow-x: hidden;

    section#section-content {
      font-size: 100%;
    }
    // TEMPORARY
    #zone-menu {
      display: none;
    }
  }

  #page {
    header#section-header {
      #zone-user,
      #zone-user-wrapper,
      .block,
      .block-inner,
      .content.clearfix,
      .grid-12,
      .region-inner {
        max-width: 100%;
      }

      #zone-branding {
        max-width: 100%;

        .grid-1 {
          display: none;
        }

        .grid-8 {
          float: none;
          width: auto !important;

          .branding-data {
            text-align: center;

            .logo-img {
              float: none;
              margin-top: 20px;
              width: 100%;
              @media (max-width: 750px) {
                margin-top: 35px;
              }

              img {
                max-width: 100%;
              }
            }
          }
        }

        .grid-2 {
          padding: 0;
          box-sizing: border-box;

          &#region-secondary-menu {
            clear: both;
            float: left;
            left: 50px;
            margin: -30px 0 0;
            width: auto !important;
            // width: 175px !important;
            font-size: 90%;
            @media (max-width: 850px) {
              font-size: 80%;
              left: 40px;
            }
            @media (max-width: 750px) {
              display: none;
              // margin: 0;
              // left: 30px;
              //
              // ul li.leaf {
              //   display: inline !Important;
              // }
            }
          }

          #block-locale-language ul.language-switcher-locale-url {
            margin-right: 20px;
          }
        }
      }

      #zone-user {
        .content h4 {
          @media (max-width: 600px) {
            font-size: 1.5em;
          }
          @media (max-width: @secondary-breakpoint) {
            font-size: 1.25em;
            padding-top: 2px;
          }
        }
      }
      // @media (Max-width: )
      // }
    }

    #section-content {
      // front page styles
      #zone-content-wrapper-front {
        background: url("/sites/all/themes/mayatime/img/zone-content-wrapper.jpg") top center transparent repeat-y;
        min-height: 0 !important;
        height: auto;

        #zone-content .region-inner {
          .grid-4 {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100% !important;

            #front-menu-main {
              width: 100%;
            }

            .front-menu {
              height: auto;
              left: 0;
              margin: 0;
              max-width: 100%;
              padding: 0 15px;
              top: 0;
              width: auto;

              .mask {
                width: 100% !important;
              }

              h2.long {
                top: 67px;
              }

              &.front-menu-corn-and-maya-time {
                // margin-top: -40px;
                margin-top: 0;

                h2.long {
                  left: 100% !important;
                  transform: translateX(~"calc(-100% + 7px)");
                }
              }

              &.front-menu-2012-resetting {
                // margin-top: -40px;
                margin-top: 0;

                h2.long {
                  left: -7px !important;
                }
              }
            }

            #front-menu-main-bottom {
              display: none;
            }
          }
        }
      }

      #zone-content {
        box-sizing: border-box;
        padding: 0 40px;
        width: 100%;

        .grid-12#region-content {
          max-width: 100%;
        }

        .region-inner {
          .front-menu-aside {
            padding-left: 0;
          }
        }
      }
    }

    footer#section-footer {
      min-height: 0;

      #zone-footer-wrapper {
        background-size: cover;
        min-height: 0;

        #zone-footer.container-12 {
          box-sizing: border-box;
          max-width: 100%;
          padding: 90px 30px 60px;

          @media (max-width: 700px) {
            padding-top: 130px;
          }
          @media (max-width: @secondary-breakpoint) {
            padding-top: 80px;
          }

          .grid-12 {
            width: 100% !important;

            .region-footer-second-inner {
              display: flex;
              justify-content: space-between;
              margin-top: 1.5em;
              @media (max-width: 710px) {
                flex-wrap: wrap;

                .grid-6 {
                  margin: 0 auto;

                  &#block-menu-menu-tertiary-menu {
                    padding: 30px 0;
                  }
                }
              }

              .grid-6 {
                width: auto;

                img {
                  max-width: 100%;
                }
              }
            }

            ul.menu {
              text-align: center;
            }

            .block-menu-footer-main-menu ul.menu {
              @media (max-width: @secondary-breakpoint) {
                li {
                  display: block;
                  text-align: center;

                  a:after {
                    display: none;
                  }
                }
              }
            }

            #block-menu-menu-menu-footer-secondary-menu {
              margin-top: 1em;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
// landing pages for toplevel sections
@media (max-width: @primary-breakpoint) {
  .page-node-10,
  .page-node-12,
  .page-node-14,
  .page-node-6,
  .page-node-8,
  body.page-node-11,
  body.page-node-13,
  body.page-node-5,
  body.page-node-7,
  body.page-node-9 {
    #zone-content {
      .region-content {
        width: 100% !important;

        h1.title {
          margin-top: 0.75em;
        }
      }

      aside.region-sidebar-second {
        width: 100% !important;

        .region-inner {
          max-width: 650px;
          margin: 0 auto;

          .block-menu-block {
            padding: 30px 0;
          }
        }

        ul.menu {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          li {
            margin: 0 5px 15px !important;
          }
        }
      }
    }

    #region-menu {
      max-width: 100% !important;
    }

    nav.navigation {
      margin: 0;

      ul#main-menu {
        display: flex;
        flex-wrap: wrap;
        width: ~"calc(100% - 80px)" !important;
      }
    }
  }

  body.page-node-11,
  body.page-node-12,
  body.page-node-13,
  body.page-node-14 {
    #zone-content aside.region-sidebar-second ul.menu {
      padding-bottom: 90px;
    }
  }
}
// calendar activity page

.page-node-39,
.page-node-40 {
  .aside-mobile,
  .calendar-quote-mobile {
    display: none;
  }

  .unit-conversions {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;

    div {
      width: 50%;
    }
  }
  @media (max-width: @primary-breakpoint) {
    #calendar-wrapper {
      #calendar-converter-intro {
        width: 100%;
        float: none;

        #calendar-converter-intro-top {
          float: none;
          margin-bottom: 30px;
          width: 100%;

          #calendar-quote.calendar-quote-mobile {
            display: block;
            font-size: 0.9em;
            position: absolute;
            right: 20px;
            top: 20px;
            width: ~"calc(100% - 360px)";
          }
        }

        .intro-paragraph p {
          width: 100%;
        }
      }

      #calendar-converter-main {
        width: 100%;

        #calendar-quote {
          display: none;
        }

        #converter-wrap {
          align-items: center;
          display: flex;
          justify-content: space-around;
          margin-top: 20px;

          #converter-aside,
          #conveter-main {
            display: inline-block;
            float: none;
            margin: 0;
          }

          #converter-aside {
            max-width: ~"calc(100% - 375px)";
            width: auto;
            margin-left: 20px;
          }
        }
      }
    }

    #block-system-main {
      width: 100%;

      article {
        font-size: 18px !important;
        display: block;
        float: none;
        position: static;
        width: 100%;
      }

      aside {
        display: none;
      }

      .aside-mobile {
        display: block;
        float: left;
        margin: 0 30px 10px 0;
      }
    }

    #calendar-abstract2 #calendar-abstract3 div {
      margin: 0 !important;
      width: ~"calc(100% - 271px)";
    }
  }
  @media (max-width: 900px) {
    .unit-conversions {
      display: block;

      div {
        width: 100%;
      }
    }
  }
  @media (max-width: 850px) {
    #calendar-wrapper #calendar-converter-intro #calendar-converter-intro-top {
      #calendar-converter-header {
        height: 96px;
        width: auto;

        h1 {
          margin-left: 15px;
          position: relative;
          top: 50%;
          transform: translateY(-50%);

          br {
            display: none;
          }
        }
      }

      .break {
        display: none;
      }

      #calendar-quote.calendar-quote-mobile {
        margin-left: auto;
        margin-right: auto;
        position: static;
        width: 85%;
      }
    }
  }
  @media (max-width: 750px) {
    #calendar-wrapper #calendar-converter-main #converter-wrap {
      flex-wrap: wrap;
      justify-content: center;

      #converter-aside,
      #conveter-main {
        max-width: 100%;
        width: 100%;
      }

      #conveter-main #monument {
        margin: 0 auto;
      }

      #converter-aside {
        text-align: center;

        #select-date {
          display: inline-block;
          margin: 30px 0;
          max-width: 315px;
        }
      }
    }
  }
  @media (max-width: 680px) {
    #block-system-main {
      .aside-mobile {
        float: none;
        text-align: center;
      }

      #calendar-abstract3 div {
        width: 100%;
      }
    }
  }
}

.page-node-41, .page-node-42 {
  article .field-name-body {
    padding-left: 0;
  }
  @media (max-width: @primary-breakpoint) {
    .glyph-wrapper {
      text-align: center;

      .glyphs {
        display: inline-block;
        float: none;
        margin: 0 0 20px;
        max-width: 100%;
      }
    }
    .glyph-content {
      float: none;
      text-align: left;
      width: 100%;

      blockquote {
        margin: 0 auto;
        width: 80%;
      }
      .glyph-content-text .glyph-detail {
        h2 {
          // text-align: center;
        }
        .glyph-image-wrap {
          margin: 0 auto 10px;
        }
      }
      h4 {
        text-align: center;
      }
      .two_columns {
        display: flex;
        float: none;
        margin: 0 auto;
        max-width: 500px;
        width: auto;

        & > div {
          margin: 0 auto;
        }

        .column_one {
          margin-bottom: 20px;
        }
        @media (max-width: 550px) {
          display: inline-block;
          text-align: center;

          .column_one, .column_two {
            width: 100%;

            p {
              margin: 0 auto;
              text-align: left;

              &:first-of-type {
                padding-top: 5px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

.page-node-44, .page-node-46 {
  .template-2 .field-name-field-page-secondary-node-ref > .field-items {
    text-align: center;

    & > .field-item {
      float: none;
      display: inline-block;
      width: auto;

      article .field-name-field-pg-preview {
        width: auto;
      }
    }
  }
}

// Meaning of 2012 - reuses some styles from nodes above, but with different selectors
.page-node-47 {
  #region-content {
    padding-top: 20px;
  }
  section#section-content .block-system-main .copy-float-left {
    float: none;
    width: ~"calc(100% - 220px)";

    .h4-emphasis {
      font-size: 100%;
    }
  }
  @media (max-width: 550px) {
    section#section-content .block-system-main {
      .copy-float-left {
        width: 100%;
      }
      .image-float-left {
        display: block;
        float: none;
        margin: 0 auto;
        width: 190px;
      }
    }
  }
}

// Calendar: The Calendar System, Corn: Calendar Traditions, and 2012: Maya Opinions pages
.page-node-37, .page-node-38,
.page-node-43, .page-node-45,
.page-node-48, .page-node-50 {
  .grid-9#region-content {
    padding-top: 20px;

    .calendar-system-copy {
      float: none;
    }
  }
  aside.grid-3 {
    .views-field-title, .views-field-body, .views-field-php {
      padding-bottom: 5px;
    }
    .views-field-title {
      padding-top: 2px;
    }
  }
  @media (max-width: @primary-breakpoint) {
    .grid-9#region-content, #zone-content .grid-4#region-content.alpha.omega {

      border-right: none;
      // border: 1px solid
      width: 100%;

      .region-inner {
        padding-right: 0;
      }
      .more-details {
        margin-top: -10px;
      }
      .downloads {
        margin: 10px 0 -10px;
      }
      .field-name-field-page-quote {
        display: none;
      }
      .view-horizontal-video-sidebar .view-content {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;

        .views-row {
          float: none;
          margin: 25px 0 0;
        }
      }
    }
    aside.grid-3 {
      width: 100% !important;

      .block-video-sidebar-block, .block {
        padding-left: 0;

        .views-field-colorbox {
          float: left;
          margin-right: 15px;
        }
        .views-field-title {
          padding-top: 0;
        }
        .views-field-php:after {
          clear: both;
          content: "";
          display: block;
        }
      }
    }
    aside.grid-8 {
      width: 100% !important;

      .view-video-sidebar .view-content {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        // this serves as a fake item for the last row when there are only 2 items per row instead of 3
        &:after {
          content: "";
          display: inline-block;
          margin: 0 15px;
          min-width: 191px;
          width: 25%;
          height: 1px;
        }

        .views-row {
          margin: 15px;
          min-width: 191px;
          width: 25%;

          .views-field-colorbox {
            text-align: center;

            .video-play-button {
              left: 50%;
              top: -88px;
              transform: translateX(-50%);
            }
          }
        }
        @media (max-width: 760px) {
          justify-content: space-around;

          .views-row {
            margin-left: auto;
            margin-right: auto;
            max-width: 45%;
            width: 45%;

            .file-video {
              text-align: center;
            }
            .video-play-button {
              left: 50%;
              transform: translateX(-50%);
            }

            .views-field-title {
              margin-top: 5px;
            }
          }
        }
        @media (max-width: 600px) {
          .views-row {
            max-width: 100%;
            width: 100%;
          }
        }
      }
    }
    #zone-content .grid-4#region-content.alpha.omega .field-name-field-page-quote {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;

      @media (max-width: 500px) {
        width: 100%;
      }
    }
  }
  @media (max-width: 750px) {
    .grid-9#region-content .view-horizontal-video-sidebar .view-content {
      flex-wrap: wrap;
      margin: 0 auto;

      .views-row, .views-row.views-row-2 {
        margin: 25px auto 0;
        width: 45%;

        .file-video {
          text-align: center;
        }
        .video-play-button {
          left: 50%;
          transform: translateX(-50%);
        }

        .views-field-title {
          margin-top: 5px;
        }
      }
    }
  }
  @media (max-width: 600px) {
    .grid-9#region-content .view-horizontal-video-sidebar .view-content {
      .views-row, .views-row.views-row-2 {
        width: 100%;
      }
    }
  }
  @media (max-width: 550px) {
    .grid-9#region-content, aside.grid-3 {
      .calendar-system-image, .views-field-colorbox {
        display: block;
        float: none;
        margin-bottom: 5px;
        text-align: center;
        width: 100%;

        .video-play-button {
          left: 50%;
          top: -95px;
          transform: translateX(-50%);
          height: 50px;
          width: 50px;
        }
      }
      .calendar-system-copy {
        display: block;
        float: none;
        width: 100%;
      }
    }
  }
  @media (min-width: 650px) and (max-width: @primary-breakpoint) {
    .grid-4#region-content article .field-type-text-with-summary {
      position: relative;

      .field-items {
        position: absolute;
        top: 50%;
        left: 165px;
        transform: translateY(-50%);
      }
    }
  }
}

// Maya Opinions on 2012
// Maya World interactive map
.page-node-25,
.page-node-26 {
  @media (max-width: @primary-breakpoint) {
    .maya-world-interactive-map img {
      width: 50%;
    }
  }
}
// math game: common styles

.page-node-33, .page-node-34 {
  // changes that apply on every page
  @media (max-width: @primary-breakpoint) {
    #block-block-8,
    #block-block-9,
    #region-content,
    #zone-content {
      max-width: 100% !important;
    }
  }

  .maya-math-game-wrapper {
    background-size: cover;

    .symbols {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .symbol {
        margin-top: 10px;
        text-align: center;
        width: 32%;

        span {
          display: block;
          position: relative;
          margin-top: 5px;
        }

        &:last-of-type span {
          margin-top: 0;
        }
      }
    }

    hr {
      max-width: 100%;
    }

    #practice-content #answer-pane {
      .total {
        width: 100%;
      }

      #numberSlot .ui-droppable {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
    }
    @media (max-width: @primary-breakpoint) {
      .math-game-landing-copy {
        display: block;
        float: none;
        margin: 0 25px;
        width: auto;
      }
    }
    @media (max-width: 600px) {
      .math-game-practice-god {
        align-items: center;
        display: flex;
        float: none;
        height: auto;
        justify-content: space-around;
        margin: 0 auto;
        width: 100%;

        .god-logo-practice {
          min-width: 225px;
        }
      }
      @media (max-width: 400px) {
        display: block;
      }
    }

    &.landing {
      // this changes at every size
      .math-game-landing-symbol-bar {
        padding: 15px;

        .three-symbols-intro {
          font-size: 1.2em;
        }
        // .symbols {
        //   display: flex;
        //   flex-wrap: wrap;
        //   justify-content: space-around;
        //
        //   .symbol {
        //     margin-top: 10px;
        //     text-align: center;
        //     width: 30%;
        //
        //     span {
        //       position: relative;
        //       display: block;
        //     }
        //   }
        // }
      }
      // @media (max-width: @primary-breakpoint) {
      .math-math-god {
        display: inline-block;
        margin-right: 0;
      }

      .are-you-ready {
        margin: 0 25px;
      }

      .math-game-landing-game-buttons {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 20px 0 0;
        max-width: 100%;
        padding: 15px 10px;

        .math-game-button, .game-level-button {
          margin: 10px auto 0;
        }
      }
      // }
      @media (max-width: 725px) {
        .math-math-god {
          display: block;
          float: none;
          margin: 0 auto;
          max-width: 100%;
        }
      }
      @media (max-width: 700px) {
        .math-game-landing-symbol-bar .symbols .symbol {
          width: 50%;
        }
      }
    }

    &.practice  {
      // border: 2px solid green;
      .practice-menu ul li a {
        margin-top: 7px;
      }

      .round-instructions {
        margin: 15px 0;
      }

      .math-game-landing-copy p {
        margin-bottom: 15px;
      }

      #navigation-help {
        margin: 10px 10px 20px;
        max-width: ~"calc(100% - 20px)";
        text-align: center;
        width: auto;
      }
      .character-logo-game {
        min-width: 225px;
      }

      #practice-content {
        display: flex;
        padding: 0 25px;
        #answer-pane {
          display: flex;
          flex-wrap: wrap;
        }

        .symbols-container {
          max-width: 350px;

          #symbolsPile {
            display: flex;
            flex-wrap: wrap;
          }
        }

        .base-container {
          display: flex;
          justify-content: flex-end;
          width: ~"calc(100% - 350px)" !important;

          .pyramid {
            // margin-right: 15%;
            margin: 0 auto;

            h4 {
              text-align: center;
            }
          }

          #middle-symbols {
            margin: 0 0 0 20px;
            width: 210px;
          }
        }

        .detabled {
          background-color: transparent !important;
          border: none;
          height: 100%;
          width: auto;

          .problem-row {
            border: none;
            background-color: transparent !important;
            display: flex;
            height: auto;
            margin: 0;
            width: auto;
            margin: 0;

            .label {
              border: none;
              background-color: transparent !important;
            }

            &:hover {
              background-color: #FFFEEE !important;
            }

            .label {
              font-size: 22px;
              width: 40px;
              text-align: right;
            }

            .pyramidDropZone {
              height: 82px;
              width: 78px;
              border: 2px solid #552911;
              margin: 3px 10px 18px;
              background-color: #f9eada !important;
              color: #381A05 !important;
            }
          }
        }
      }
      #endofgame,
      #successMessage,
      #tryAgain {
        box-shadow: none;
        max-width: ~"calc(100% - 50px)";
        position: fixed;
        transform: translate(-50%, -50%);
        top: auto;
        top: 50%;
      }
      @media (max-width: @primary-breakpoint) {
        .practice-menu ul {
          display: flex;
          flex-wrap: wrap;

          li,
          li.last {
            width: ~"calc(100% / 3 - 1px)";
            border-top: 1px solid #552911;
          }
        }

        #practice-content {
          display: flex;
          justify-content: space-between;
          padding: 0 15px;
        }
      }
      @media (max-width: 900px) {
        #practice-content {
          flex-wrap: wrap;
          padding: 0 15px;

          .base-container,
          .symbols-container {
            max-width: 100%;
            width: 100% !important;
          }

          .base-container {
            justify-content: space-around;
            // justify-content: space-between;
            margin-top: 30px;

            #middle-symbols {
              margin: 0 auto;
            }
          }
        }
      }
      @media (max-width: 650px) {
        #practice-content .base-container {
          justify-content: space-between;

          #base-20-pyramid,
          #middle-symbols {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
      @media (max-width: @secondary-breakpoint) {
        .practice-menu ul li,
        .practice-menu ul li.last {
          width: ~"calc(50% - 1px)";
        }

        #practice-content {
          .base-container {
            flex-wrap: wrap;
            margin-top: 25px;

            .pyramid {
              width: 100%;

              .detabled {
                display: flex;
                justify-content: space-between;
                margin: 10px 0 20px;

                label {
                  font-size: 1em;
                }

                .pyramidDropZone {
                  height: 70px;
                  width: 60px;
                }
              }
            }

            #middle-symbols {
              margin: 0 auto 20px;
            }
            // margin-top: 0;
            // .pyramid {
            //   height: 225px;
            //   position: relative;
            //   top: -75px;
            //
            //   h4 {
            //     position: relative;
            //     top: 100px;
            //   }
            //   table {
            //     display: inline-block;
            //     transform: rotate(-90deg);
            //
            //     td {
            //       .cloned-symbol {
            //         transform: rotate(90deg);
            //       }
            //       &.label {
            //         padding-top: 15px;
            //         text-align: left;
            //         transform: rotate(90deg);
            //       }
            //     }
            //     tr:hover {
            //       background: #FFFEEE;
            //
            //       td {
            //         background: transparent !important;
            //       }
            //     }
            //   }
            // }
          }
        }
      }

      &.practice-1 {
        @media (max-width: @primary-breakpoint) {
          #practice-content {
            #answer-pane,
            #directions,
            #symbols-left {
              float: none;
              margin: 0;
            }

            #symbolBox,
            #symbols-left {
              width: 100px;
            }
          }
        }
        @media (max-width: 800px) {
          #practice-content {
            flex-wrap: wrap;
            justify-content: space-around;

            #answer-pane,
            #directions,
            #symbols-left {
              margin: 0;
            }

            #symbols-left {
              order: 2;
            }

            #answer-pane {
              order: 3;
            }

            #directions {
              margin-bottom: 20px;
              order: 1;
              width: 100%;
            }
          }
        }
        @media (max-width: 750px) {
          .math-game-landing-copy .symbols .symbol {
            width: 100%;
          }
        }
      }

      &.practice-3 {
        #base-20-pyramid {
          width: 150px;
        }

        .pyramid div {
          height: auto;
          width: auto;
          border: none;
          margin: 0;
          background-color: transparent !important;
        }
      }
    }

    &.game {
      // &.practice-4, &.practice-5 {
      &.practice-4-5, &.game-1, &.game-2, &.game-3 {
        #arithmetic-problem {
          margin-bottom: 20px;
          .problem {
            min-width: 185px;
          }
        }
        .detabled {
          margin-top: 15px;

          #grid-holder {
            display: flex;

            #value-grid {
              padding-right: 5px;

              .label {
                font-size: 18px;
                font-weight: bold;
                height: 85px;
                text-align: right;
                width: 40px;

                & > span {
                  display: inline-block;
                  position: relative;
                  top: 10px;
                }
              }
            }
            #grid {
              // min-width: 200px;
              width: 45%;
              // width: 200px;

              .row {
                height: 78px;
                display: flex;
                justify-content: space-between;

                .operator {
                  // margin-top: 10px;
                }
              }
              div {
                display: inline-block;
              }
            }
            .borderless-cell {
              height: 75px;
            }
            .equals-grid {
              // background: lightblue;
              padding: 0 10px;

              .borderless-cell {
                height: 75px;
              }
              .operator {
                padding-top: 3px;
                position: relative;
                top: 75px;

                &:last-of-type {
                  top: 150px;
                }
              }
            }
            #raw-grid {
              .raw-symbols {
                display: inline-block;
                width: 100%;
              }
              // &:before {
              .column-title-container:before {
                content: "RAW answer";
                display: inline-block;
                font-size: 14px;
                font-style: italic;
                line-height: 1.1;
                max-width: 70px;
                position: absolute;
                text-align: center;
                top: -30px;

                @media (max-width: 525px) {
                  max-width: 55px;
                }
              }
            }
            #answer-grid {
              .column-title-container:before {
                content: "FINAL answer";
                display: inline-block;
                font-size: 14px;
                font-style: italic;
                line-height: 1.1;
                max-width: 70px;
                position: absolute;
                text-align: center;
                top: -30px;
              }
            }
            .answer-tables {
              display: flex;
              justify-content: space-between;
              position: relative;
              // top: -26px;
              width: 40%;
            }
            .cell {
              border: 2px solid #552911;
              box-sizing: border-box;
              margin: 3px 0;
              width: 75px;
              height: 75px;
            }
            .operator {
              // border: 1px solid yellow;
              // background: green;
              font-size: 42px;
              height: 75px;
              margin: 5px;
              text-align: center;
              width: 30px;
              // background: blue;

              &.operator-hide-border, &.operator-hide {
                visibility: hidden;
              }
              // &.operator-show {
              //   border:
              // }
            }
          }
        }

        button {
          cursor: pointer;
        }
        #navigation-help {
          margin: 10px 10px 20px;
          width: 100%;
          // text-align: center;
        }
        .practice-menu {
          height: auto;
        }
        @media (max-width: @primary-breakpoint) {
          .detabled {
            padding: 0 10px;
          }
          #symbol-sidebar {
            margin-left: 0;
            width: 100%;
            box-sizing: border-box;
            padding: 0 15px;
          }

          #grid-wrapper {
            max-width: 100%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        @media (max-width: 725px) {
          #grid-wrapper {
            position: relative;

            #bottom {
              // transform: scale(.75);
              // position: relative;
            }
            // width: 100vw;
            // float: none;
          }
        }
        @media (max-width: 600px) {
          .equals-grid, .row.operator {
            padding: 0 !important;
          }
          #grid {
            width: 190px;
          }
        }
        @media (max-width: 525px) {
          #arithmetic-problem {
            flex-wrap: wrap;

            .problem {
              border-right: none;
              width: 100%;
            }
          }
          .detabled #grid-holder {
            #grid {
              width: 40%;
              min-width: 150px;
            }
            .equals-grid .operator {
              padding: 0 10px;
            }
            .cell {
              width: 55px;
              height: 70px;
            }
            .row {
              height: 70px !important;
              margin-bottom: 3px;
            }
            .operator {
              height: 70px;
            }
          }
        }
      }
      &.practice-5, &.game-2 {
        #grid-wrapper {
          // width: 550px;
          float: right;
          width: 500px;
          margin-right: 50px;

          .detabled #grid-holder {
            #grid {
              width: 250px;

              .row .operator {
                padding: 0 25px;
              }
            }

            .equals-grid {
              padding: 0 25px;

              .operator {
                padding-top: 7px;
              }
            }
            .answer-tables {
              width: auto;
            }
          }
          @media (max-width: @primary-breakpoint) {
            float: left;
          }
          @media (max-width: 600px) {
            margin-left: 0;
            margin-right: 0;
            width: auto;

            .detabled #grid-holder {
              .equals-grid .operator {
                padding-left: 10px;
                padding-right: 10px;
              }
              #grid {
                width: 200px;

                .row .operator {
                  padding-left: 0;
                  padding-right: 0;
                }
              }
            }
          }
          @media (max-width: 550px) {
            .detabled #grid-holder {
              #grid {
                // border: 1px solid green;
                width: 160px;
              }
              .equals-grid .operator {
                padding-top: 0;
              }
            }
          }
        }
      }
      &.game-1, &.game-2, &.game-3 {
        #grid-wrapper {
          margin-bottom: 20px;
        }
        .practice-menu ul li {
          box-sizing: border-box;
          margin-left: 0;
          padding: 5px 10px 5px 25px;
          width: 100%;

          @media (max-width: @secondary-breakpoint) {
            margin: 0 auto;
            padding: 5px 10px;
            text-align: center;
          }
        }
      }
      &.espanol .detabled #grid-holder {
        #raw-grid .column-title-container:before {
          content: "Respuesta PRELIMINAR";
          max-width: 81px;
          left: -3px;
        }
        #answer-grid .column-title-container:before {
          content: "Respuesta FINAL";
        }
      }
    }

    &.reveal {
      .math-game-practice-god {
        height: auto;
      }
      @media (max-width: @primary-breakpoint) {
        .math-game-practice-god {
          float: none;
          text-align: center;
          // margin: 0 auto 20px;

          & + .math-game-landing-copy {
            // margin-top: 20px;
          }
        }
        .border-top {
          padding-top: 0;

          .math-game-landing-copy {
            margin-top: 0;
            padding-top: 0;
          }
        }
      }
      @media (max-width: 600px) {
        .character-logo-game {
          width: 225px;
        }
        .math-game-practice-god + .math-game-landing-copy {
          margin-top: 15px;
        }
        .border-top {
          .math-game-practice-god {
            margin-top: 20px;
          }
          .math-game-landing-copy {
            margin-top: 0;
          }
        }
      }
    }
  }
}
// menu tests

@media (max-width: @primary-breakpoint) {
  .page-node-31,
  .page-node-32 {
    header #region-menu {
      // left: ~"calc(100% - 300px)";
      position: relative;
      width: 600px;

      ul#main-menu,
      ul.menu {
        // width: 300px;
        margin: 0;
      }

      nav.navigation {
        display: none;

        ul#main-menu {
          // margin: 0;
          width: 300px;

          li {
            display: block;

            a:after {
              display: none;
            }

            a.active-trail,
            a:hover {
              background: none;
            }
          }
        }
      }

      #block-menu-block-1 {
        width: auto;
        display: inline-block;
        margin: 0 auto;
      }
    }
  }

  .template-2 #page-title {
    padding-top: 20px;
  }
}
@media (max-width: 600px) {
  #page #section-content #zone-content {
    padding: 0 20px;
  }
}

// normal templates
.template-2 {
  .region-inner .block .block-inner article.node-page {
      & > .content {
      .field-name-field-page-primary-node-ref  { // video
        article.node-video {
          width: 560px;

          .zip-archive-link {
            display: flex;

            .float-left {
              margin-right: 8px;
              width: 320px;
            }
            .float-right {
              margin-left: 8px;
              text-align: left;
              width: 320px;
            }
          }
        }
      }
      .field-name-body, .field-name-field-page-quote { // main body text
        width: ~"calc(100% - 600px)";
      }
      .field-name-field-page-secondary-node-ref {
        left: 30px;
        position: relative;
        top: 0;
      }
    }
    @media (min-width: @primary-breakpoint) {
      &#node-page-26 > .content .field-name-field-page-quote {
        margin-top: -40px;
      }
      &#node-page-32 > .content .field-name-field-page-quote {
        margin-top: -20px;
      }
    }
  }
  @media (max-width: @primary-breakpoint) {
    .region-inner .block .block-inner article.node-page > .content {
      display: flex;
      flex-direction: column;
      position: relative;

      .field-name-field-page-glyph-image { // glyph
        order: 1;
      }
      & > .field-name-body { // main body text
        order: 2;
        position: relative;
        transform: translateY(-155px); // to bring it up beside the glyph
        width: 100%;

        &:before { // this fake element mimics the glyph, and allows the body text to wrap around
          content: "";
          display: inline-block;
          float: left;
          height: 160px;
          width: 160px;
        }
      }
      .field-name-field-page-primary-node-ref { // video
        display: inline-block;
        float: none;
        margin: 0 auto;
        max-width: 100%;
        order: 4;

        article.node-video {
          max-width: 100%;

          iframe {
            max-width: 100%;
          }
        }
      }
      .field-name-field-page-quote { // quotes
        margin: -130px auto 30px;
        // this specific negative margin accounts for the Y-translate in the body text
        order: 3;
        width: 80%;

        @media (max-width: 500px) {
          width: 100%;
        }
      }
      .field-name-field-page-secondary-node-ref {
        order: 5;
        position: relative;
        top: 30px;
        left: 0;

        article.node-photo-gallery div.photo-gallery-teaser-preview {
          // position: static;
          top: -60px;

        }
        .field-name-body  {
          line-height: 1.2;
          padding-top: 5px;
        }
      }
    }
  }
  @media (max-width: @secondary-breakpoint) {
    .region-inner .block .block-inner article.node-page > .content {
      .field-name-field-page-primary-node-ref article.node-video .zip-archive-link {
        display: block;

        .float-right, .float-left {
          float: none;
          margin: 0;
          text-align: left;
          width: 100%;
        }
        .float-left {
          margin-bottom: 8px;
        }
      }
    }
  }
  @media (max-width: 400px) {
    .region-inner .block .block-inner article.node-page > .content {
      .field-name-field-page-glyph-image {
        // width: 100%;
        margin: 0 auto 10px;
      }
      .field-name-body {
        position: static;
        transform: none;
        width: 100%;

        &:before {
          display: none;
        }
      }
      .field-name-field-page-quote {
        margin-top: 20px;
        width: 100%;
      }
    }
  }
}
#cboxOverlay,
#colorbox,
#cboxContent,
#cboxLoadedContent,
iframe
 {
  max-width: 100%;
  box-sizing: border-box;

  // border: 2px solid pink;
}
// popups
.template-3 article {
  padding-top: 20px;

  .content > .view {
    float: none !important;
    width: 100% !important;

    & > .view-content {
      margin: 0 auto;
      max-width: 100%;
      width: 650px;

      .galleria-container {
        border: 2px solid green;
      }
    }
  }
  .field-name-body {
    width: 100%;
  }
}
// mobile
// @media (max-width: 500px) {
//   body { font-size: 20px; }
//   p {
//     font-size: 1em !important;
//   }
// }
